# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Docs
docs/build/*

# Compiled Python
*.pyc
__pycache__/

# To-Do Notes
*.todo

# Tests
tests/.cache/*

# Virtual environment
impedance-analyzer-env/*
