alabaster==0.7.10
awsebcli==3.12.0
Babel==2.5.1
botocore==1.7.40
cement==2.8.2
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
colorama==0.3.9
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
Flask==0.12.2
idna==2.6
imagesize==0.7.1
itsdangerous==0.24
Jinja2==2.9.6
jmespath==0.9.3
MarkupSafe==1.0
numpy==1.13.3
numpydoc==0.7.0
pandas<0.21
pathspec==0.5.0
py==1.4.34
Pygments==2.2.0
pytest==3.2.3
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
requests==2.18.4
scipy==0.19.1
semantic-version==2.5.0
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.5.1
sphinx-rtd-theme==0.2.4
sphinxcontrib-httpdomain==1.5.0
sphinxcontrib-websupport==1.0.1
tabulate==0.7.5
termcolor==1.1.0
urllib3==1.22
websocket-client==0.44.0
Werkzeug==0.15.3
wincertstore==0.2
