packages:
    yum:
        make: []
        gcc-c++: []
        gcc-gfortran: []
        python27-devel: []
        atlas-sse3-devel: []
        lapack-devel: []
        libpng-devel: []
        freetype-devel: []
        zlib-devel: []

container_commands:
    00_AddGlobalWSGIGroupAccess:
        command: "if ! grep -q 'WSGIApplicationGroup %{GLOBAL}' ../wsgi.conf ; then echo 'WSGIApplicationGroup %{GLOBAL}' >> ../wsgi.conf; fi;"
    01_install_scipy:
        command: "pip install scipy"
